body {
    margin: 0;
    background-color: #f7e8e3;
    color: #020101;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px 80px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    margin: 0;
}

.btn {
    background-color: #d7ad9d;
    color: #020101;
    border: none;
    transition: all .3s ease;
    padding: 6px 10px;
    outline: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

    &:hover,
    &:focus {
        background-color: #946659;
        color: #f7e8e3;
        cursor: pointer;
    }

    &-remove {
        border: 1px solid #946659;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    position: relative;
}

.cart {

    &-wrapper {
        width: 300px;
        height: auto;
        padding: 20px 20px;
        background-color: #d7ad9d;
        position: absolute;
        right: 0;
        top: 40px + 28px + 4px;
        transition: transform .3s ease;
        transform: rotateX(90deg);
        transform-origin: top;

        &.open {
            opacity: 96%;
            transform: rotateX(0);
            border-bottom: 1px solid #946659
        }
    }

    &-item {
        position: relative;
        padding: 0 0 20px;
        margin-bottom: 20px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #946659;
            bottom: 0;
            left: 0;
        }
    }

    &-total-cost {
        margin-bottom: 20px;
        font-weight: 600;
    }

    &-btn,
    &-clean {
        border: 1px solid #946659;
    }
}

.logo {
    position: relative;

    svg {
        position: absolute;
        top: -40px;
        display: block;
        height: 108px;
        fill: #946659;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    border: 1px solid #946659;
    width: 20%;
    min-width: 200px;
    margin-bottom: 20px;
    padding: 20px 10px;
    text-align: center;

    img {
        max-width: 100%;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}

.product-title {
    margin: 10px auto;
}

.product-price {
    margin: 0 auto 20px;
}

.btn-buy {
    width: 100%;
}