body {
    margin: 0;
    background-color: #dcdfe4;
    color: #0f211a;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px 80px;
    box-sizing: border-box;
}
.btn {
    background-color: #adab76;
    color: #0f211a;
    border: none;
    transition: all .3s ease;
    padding: 6px 10px;
    outline: none;
    font-size: 14px;

    &:hover,
    &:focus {
        background-color: #666b3a;
        color: #dcdfe4;
        cursor: pointer;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    position: relative;
}

.cart {
    position: absolute;
    right: 0;
    top: 40px + 28px;
    width: 100px;
    height: 100px;
    background-color: #adab76;
    // color: #0f211a;
    opacity: 0;
    transition: opacity .3s ease;

    &.active {
        opacity: 100%;
    }
}

.logo {
    position: relative;

    svg {
        position: absolute;
        top: -40px;
        display: block;
        height: 108px;
        fill: #666b3a;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    border: 1px solid #666b3a;
    width: 20%;
    min-width: 200px;
    margin-bottom: 20px;
    padding: 20px 10px;
    text-align: center;

    img {
        max-width: 100%;
    }
}

.product-title {
    margin: 0 auto 20px;
}

.product-price {
    margin: 0 auto 20px;
}

.btn-buy {
    width: 100%;
}